@page "/"
@namespace Bolero.Tests.Remoting
@using Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html>
<head>
  <title>Bolero (remoting)</title>
  <meta charset="UTF-8" />
  <base href="/" />
</head>
<body>
  <div id="main">@(await Html.RenderComponentAsync<Bolero.Tests.Remoting.Client.MyApp>(BoleroHostConfig))</div>
  <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
  @Html.RenderBoleroScript(BoleroHostConfig)
</body>
</html>
