source https://api.nuget.org/v3/index.json
source https://dotnet.myget.org/F/blazor-dev/api/v3/index.json
storage: none
framework: netstandard2.0, netcoreapp2.0

nuget FSharp.Core
nuget Microsoft.AspNetCore.Blazor.Build ~> 0.7.0-preview1-20180925.6
nuget Microsoft.AspNetCore.Blazor.Server ~> 0.7.0-preview1-20180925.6
clitool Microsoft.AspNetCore.Blazor.Cli ~> 0.7.0-preview1-20180925.6
nuget Microsoft.JSInterop ~> 0.7.0-preview1-20180925.6
nuget Mono.WebAssembly.Interop ~> 0.7.0-preview1-20180925.6
nuget Microsoft.TypeScript.MSBuild
clitool dotnet-fake ~> 5.0
nuget Microsoft.AspNetCore.All ~> 2.0.0
nuget HtmlAgilityPack
nuget Fizzler.Systems.HtmlAgilityPack

group fake
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Mono.Cecil