source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Microsoft.AspNetCore.Blazor.Build
clitool Microsoft.AspNetCore.Blazor.Cli
nuget Microsoft.JSInterop
nuget Mono.WebAssembly.Interop
nuget Microsoft.TypeScript.MSBuild