type project
id Bolero
projectUrl https://github.com/fsbolero/bolero
description
    A set of tools and libraries to run F# applications in WebAssembly using Blazor
authors
    Loic Denuziere
files
    bin/Release/typeproviders/fsharp41/netstandard2.0/Bolero.Templating.Provider.dll ==> typeproviders/fsharp41/netstandard2.0
    bin/Release/typeproviders/fsharp41/netstandard2.0/HtmlAgilityPack.dll ==> typeproviders/fsharp41/netstandard2.0
    bin/Release/typeproviders/fsharp41/netstandard2.0/Microsoft.AspNetCore.Blazor.dll ==> typeproviders/fsharp41/netstandard2.0
    bin/Release/typeproviders/fsharp41/netstandard2.0/Microsoft.AspNetCore.Components.dll ==> typeproviders/fsharp41/netstandard2.0
    bin/Release/typeproviders/fsharp41/netstandard2.0/Microsoft.AspNetCore.Components.Web.dll ==> typeproviders/fsharp41/netstandard2.0
excludeddependencies
    nerdbank.gitversioning
include-pdbs true
