@page "/"
@namespace Bolero.Test.Server
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HostModel

<!DOCTYPE html>
<html>
<head>
  <title>Bolero (server side)</title>
  <meta charset="UTF-8" />
  <base href="/" />
</head>
<body>
  <div id="main">@(await Html.RenderComponentAsync<Bolero.Test.Client.Main.MyApp>(RenderMode.ServerPrerendered))</div>
  <script src="_framework/blazor.@(Model.IsServer ? "server" : "webassembly").js"></script>
</body>
</html>
