@page "/"
@namespace Bolero.Test.Server
@using Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html>
<head>
  <title>Bolero (server side)</title>
  <meta charset="UTF-8" />
  <base href="/" />
</head>
<body>
  <div id="main">@(await Html.RenderComponentAsync<Bolero.Test.Client.Main.MyApp>(BoleroHostConfig))</div>
  <hr />
  <a href="/external-link">Non-routed link (this link must point to a separate static page)</a>
  @Html.RenderBoleroScript(BoleroHostConfig)
</body>
</html>
