type file
id Bolero.Build
description
    Build tools for Bolero: a set of tools and libraries to run F# applications in WebAssembly using Blazor
authors
    Loic Denuziere
files
    Bolero.Build.targets ==> build
    ../../build/task/Release/netstandard2.0/Bolero.Build.dll ==> tools
    ../../build/task/Release/netstandard2.0/Mono.Cecil.dll ==> tools
