type file
id Bolero.Build
projectUrl https://github.com/fsbolero/bolero
repositoryUrl https://github.com/fsbolero/bolero
repositoryType git
description
    Build tools for Bolero: a set of tools and libraries to run F# applications in WebAssembly using Blazor
authors
    Loic Denuziere
files
    Bolero.Build.targets ==> build
    bin/Release/netstandard2.0/Bolero.Build.dll ==> tools
    bin/Release/netstandard2.0/Mono.Cecil.dll ==> tools
excludeddependencies
    nerdbank.gitversioning
