name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '9.0.100'

      - name: Download nupkg
        uses: dawidd6/action-download-artifact@v6
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: build.yml
          commit: ${{github.sha}}
          name: nuget

      - name: Push to GitHub release
        uses: svenstaro/upload-release-action@1.1.0
        with:
          tag: ${{github.ref}}
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file_glob: 'true'
          file: ./*.nupkg

      - name: Push to GitHub feed
        run: dotnet nuget push *.nupkg
               --api-key "${{secrets.GITHUB_TOKEN}}"
               --source "https://nuget.pkg.github.com/${{github.repository_owner}}/"
               --skip-duplicate

      - name: Push to NuGet
        run: dotnet nuget push *.nupkg
               --api-key ${{secrets.NUGET_API_KEY}}
               --source https://api.nuget.org/v3/index.json
               --skip-duplicate
